Print natural numbers from 1-9

In [1]:
a=1

while a<=9:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1,10,1):
  print(i)

1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,10,3):
  print(i)

1
4
7

Take a number from the user and display the multiplication table

In [11]:
a=int(input("enter a number"))

for i in range(1,11):
  print(a*i)

enter a number5
5
10
15
20
25
30
35
40
45
50

Take a number from the user and see if it is even or odd

In [18]:
num=int(input("enter a number"))

if num%2==0:
  print("it is even",num)

else:
  print("it is odd",num)

enter a number10
it is even 10

Write a program to display all the numbers which are divisible by 7 and 5 in a range of 1 to 150

In [14]:
for i in range(1,151):

  if i%7==0 and i%5==0:
    print(i)

35
70
105
140

Take a list of number and find out all the even numbers from that list of numbers

In [19]:
l1=[12,10,45,32,21,90,37,81]

for i in l1:

  if i%2==0:
    print(i)

12
10
32
90

In [21]:
name=input("enter your name")

for i in name:
  print(i)

enter your nameAnkesh
A
n
k
e
s
h

Take a list of numbers and display all the odd numbers from the list of numbers

In [23]:
l1 = [23, 34, 57, 79, 91, 34, 45]

for i in l1:
 if i%2!=0:
  print(i)

23
57
79
91
45

In [22]:
l1 = [23, 34, 57, 79, 91, 34, 45]

for i in l1:
  if i%2==0:
    pass
    
  else:
    print(i)

23
57
79
91
45

STATEMENTS:

1. PASS
2. CONTINUE
3. BREAK

In [26]:
x=int(input("enter value for x"))
y=int(input("enter value for y"))

if x>y:
  pass

else:
  print("y is greater")

enter value for x10
enter value for y20
y is greater