Using Pandas we can load and read the datasets

In [2]:
import pandas as pd #pd is the alias

In [3]:
data=pd.read_csv('/content/Advertising.csv')

In [4]:
data.head(10) #head() will show first few rows of the dataset

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [7]:
data.tail(10) #tail() will show last few rows of the dataset

     Unnamed: 0     TV  Radio  Newspaper  Sales
190         191   39.5   41.1        5.8   10.8
191         192   75.5   10.8        6.0    9.9
192         193   17.2    4.1       31.6    5.9
193         194  166.8   42.0        3.6   19.6
194         195  149.7   35.6        6.0   17.3
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [10]:
data.describe() #statistical analysis

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

Using Pandas (and Numpy) we can create our own datasets - dummy datasets

In [11]:
import numpy as np

In [14]:
#DataFrame is nothing but a dataset having some rows and some columns
my_data=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['col1','col2','col3','col4'])

In [15]:
print(my_data)

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [16]:
my_data_2=pd.DataFrame(np.arange(0,15).reshape(3,5),index=['Row1','Row2','Row3'],columns=['col1','col2','col3','col4','col5'])

In [17]:
print(my_data_2)

      col1  col2  col3  col4  col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14

In [21]:
new_data=pd.DataFrame(np.arange(1,26).reshape(5,5)
,index=['jan','feb','march','apr','may'],columns=['mon','Tue','wed','thus','fri'])

In [22]:
print(new_data)

       mon  Tue  wed  thus  fri
jan      1    2    3     4    5
feb      6    7    8     9   10
march   11   12   13    14   15
apr     16   17   18    19   20
may     21   22   23    24   25

In [25]:
#converting dummy data into .csv file
new_data.to_csv("demo_new_data.csv")