1. PASS
2. BREAK
3. CONTINUE

In [9]:
#Break Statements - used to forcebly come out of the loop
l1=['mango','apple','banana','grape','apricot','pineapple']

for i in l1:
  if i=='grape':
    break #come out of the loop if the value of i becomes 'grape'

  print(i)

mango
apple
banana

In [10]:
#Continue Statements - used to surpass the element in the condition and continues ahead with the loop

l1=['mango','apple','banana','grape','apricot','pineapple']

for i in l1:
  if i=='grape':
    continue #if the value of i becomes 'grape', that value will be surpassed and loop will continue
    
  print(i)

mango
apple
banana
apricot
pineapple

Display all the numbers between 0 to 6 except 3 and 5

In [22]:
l1=[0,1,2,3,4,5,6]

for i in l1:
  if i==3 or i==5:
    continue
  print(i)

0
1
2
4
6

In [20]:
for i in range(0,7):
  if i==3 or i==5:
    continue
  print(i)

0
1
2
4
6